.email_subs_noregistr_list {

}

.email_subs_noregistr_item {
  width: 500px;
  margin-left: 50px;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
}

.email_subs_item {
  span {
    font-size: 20px;
  }
}