.select_wrapper {
  position: relative;
  width: 100px;
}

.selected {
  margin-left: 30px;
  width: 100px;
  height: 40px;
}

.lang_select {
  z-index: 10;
  padding-top: 20px;
  position: absolute;
  border-radius: 10px;
  margin-left: 30px;
  width: 80px;

}

.select_item {
}

